# Maven
inmuebleManagerBack/target/
inmuebleManagerBack/*.log
inmuebleManagerBack/*.class

# Node/Angular
node_modules/
inmuebleManagerFront/node_modules/
inmuebleManagerFront/dist/

# IDEs
*.iml
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
*.env